@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Gilroy";
}

@font-face {
  font-family: "Gilroy";
  src: url("../public/fonts/Gilroy-Black.ttf") format("truetype");
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: "Gilroy";
  src: url("../public/fonts/Gilroy-Heavy.ttf") format("truetype");
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: "Gilroy";
  src: url("../public/fonts/Gilroy-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Gilroy";
  src: url("../public/fonts/Gilroy-BoldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: "Gilroy";
  src: url("../public/fonts/Gilroy-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Gilroy";
  src: url("../public/fonts/Gilroy-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Gilroy";
  src: url("../public/fonts/Gilroy-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Gilroy";
  src: url("../public/fonts/Gilroy-RegularItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: "Gilroy";
  src: url("../public/fonts/Gilroy-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Rubik";
  src: url("../public/fonts/Rubik-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
}

.scale-up-hor-right {
  -webkit-animation: scale-up-hor-right 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-hor-right 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes scale-up-hor-right {
  0% {
    -webkit-transform: scaleX(0.4);
    transform: scaleX(0.4);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
  }
}
@keyframes scale-up-hor-right {
  0% {
    -webkit-transform: scaleX(0.4);
    transform: scaleX(0.4);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
  }
}
.logo {
  font-family: "Rubik" !important;
  font-weight: 700;
  letter-spacing: -0.133px;
}

.bg-hero {
  background: linear-gradient(225deg, #7b11f9 0.3%, #7922d8 39.59%, #3636b2 100%);
}

.bg-hero2 {
  background: linear-gradient(225deg, #7b11f9 0.3%, #7922d8 39.59%, #3636b2 100%);
}

.app2_shadow {
  box-shadow: 0px 2px 124px 0px rgba(0, 0, 0, 0.17);
}

.oval {
  opacity: 0.0361;
  background: #fff;
  width: 1151px;
  height: 1151px;
  flex-shrink: 0;
}

.oval2 {
  width: 1645px;
  height: 1644px;
  flex-shrink: 0;
  border-radius: 1645px;
  opacity: 0.0458;
  background: #fff;
}

.oval3 {
  border-radius: 2243px;
  opacity: 0.0507;
  background: #fff;
  width: 2243px;
  height: 2242px;
  flex-shrink: 0;
}

.team-bs {
  box-shadow: 0px 22px 64px 0px rgba(22, 28, 45, 0.19);
}

.team_rectangle {
  opacity: 0.0994;
  border-radius: 10px;
  background: #68d585;
}

.app2 {
  background: #d8d8d8;
  box-shadow: 0px 42px 54px 0px rgba(22, 28, 45, 0.12);
}

.app2-content {
  box-shadow: 0px 22px 41px 0px rgba(22, 28, 45, 0.11);
}

.app-content_bg {
  flex-shrink: 0;
  border-radius: 10px;
  opacity: 0.0766;
  background: #473bf0;
}

.app-content_general {
  border-radius: 10px;
  background: #f64b4b;
  box-shadow: 0px 32px 64px 0px rgba(22, 28, 45, 0.26);
}

.features-bg {
  background: linear-gradient(225deg, #313c59 0%, #161c2d 100%);
}

.line {
  stroke-width: 3px;
  background: #fff;
  opacity: 0.1009;
  width: 161px;
  height: 1px;
}

.is-sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 994;
  background: #f4f7fa;
  inset-inline-start: 0;
  inset-inline-end: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  transition: all 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-sticky .stick {
  color: #ffffff;
}

.is-sticky a {
  color: #161c2d;
}
.is-sticky svg {
  color: #161c2d;
}

.tf__scroll_btn {
  animation: scroll_amini linear 2s infinite alternate;
  -webkit-animation: scroll_amini linear 2s infinite alternate;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}

@keyframes scroll_amini {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}

.animate-scroll_amini {
  animation: scroll_amini linear 2s infinite alternate;
  -webkit-animation: scroll_amini linear 2s infinite alternate;
}

@media (max-width: 1023px) {
  .is-sticky a {
    color: #ffffff;
  }
  .is-sticky .logo {
    color: #161c2d;
  }
}
